[push]
    default = matching
[user]
    name = pettan0818
    email = pettan0818+git@gmail.com
[core]
    autocrlf = false
    editor = vim
    pager = less -R
    whitespace = cr-at-eol
[gui]
    recentrepo = "C:/Dropbox/Document/#Jobs/#DataAnalytics/SEO/Codes"
[alias]
    log1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)― %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    log2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)― %an%C(reset)' --abbrev-commit
    log3 = log --graph --date-order -C -M --pretty=format:"<%h> %ad [%an] %Cgreen%d%Creset %s" --all --date=short
    log4 = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
    sgraph = !"git log --oneline --graph"
    graph = !"git log1"

    br      = branch
    cl      = clone
    cm      = commit
    co      = checkout
    cob     = checkout -b
    cod     = checkout develop
    com     = checkout master
    df      = diff
    dfc     = diff --cached
    dfs     = diff -C --stat
    pl      = pull
    ps      = push
    pst     = push --tags
    sb      = show-branch
    sh      = show
    sm      = submodule
    smst    = submodule status
    smsync  = submodule sync
    st      = status
    l       = log
    lg      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
    lga     = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative

[color]
    ui = true
    diff = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
